# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file_path = os.path.join('../','WeatherPy', 'weather_data.csv')
weather_data = pd.read_csv(file_path)
weather_data.head()

,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Warman,52.3168,-106.5679,3.20,78,40,11.50,CA,1611842732
1,Hilo,19.7297,-155.0900,69.80,83,90,13.80,US,1611842743
2,Kununurra,-15.7667,128.7333,80.60,100,40,11.50,AU,1611843081
3,Kruisfontein,-34.0033,24.7314,78.01,47,0,8.01,ZA,1611843081
4,Nadadores,27.0500,-101.6000,46.99,32,100,4.34,MX,1611843081

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
city_locations = weather_data[['Lat','Lon']].astype(float)
humidity = weather_data['Humidity'].astype(float)

In [4]:
humid_map = gmaps.figure(center=(40,-20),zoom_level=2)
heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
humid_map.add_layer(heat_layer)
humid_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

My Weather Conditions: 
Temp 60-80
Humidity < 60
Wind Speed < 15

In [5]:
filtered_humidity = weather_data.loc[weather_data.loc[:,'Humidity']<50,:]
filtered_temp = filtered_humidity.loc[filtered_humidity.loc[:,'Temp']<80,:]
filtered_temp2 = filtered_temp.loc[filtered_temp.loc[:,'Temp']>60,:]
filtered_final = filtered_temp2.loc[filtered_temp2.loc[:,'Wind Speed']<10,:]
filtered_final

,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,Kruisfontein,-34.0033,24.7314,78.01,47,0,8.01,ZA,1611843081
31,Baghdad,33.3406,44.4009,68.00,34,0,6.91,IQ,1611843081
114,Gīdolē,5.6500,37.3667,78.35,20,64,1.01,ET,1611843102
129,Susa,32.1942,48.2436,68.67,28,83,9.55,IR,1611843105
171,Sakakah,29.9697,40.2064,68.00,24,0,8.05,SA,1611843112
186,Yarim,14.2980,44.3779,62.44,29,0,4.16,YE,1611843115
197,Karad,17.2833,74.2000,76.28,39,0,5.44,IN,1611843117
218,Nālūt,30.3333,10.8500,65.35,30,0,8.99,LY,1611843121
248,Chui,-33.6971,-53.4616,78.93,46,40,4.07,UY,1611843127
322,Abhā,18.2164,42.5053,73.40,42,20,6.91,SA,1611843141
340,Sayyan,15.1718,44.3244,66.69,23,2,4.12,YE,1611843144
411,Bahía Blanca,-38.7196,-62.2724,76.06,23,8,8.39,AR,1611843157
429,Khargone,21.8167,75.6000,72.59,31,0,5.10,IN,1611843160
568,Faya,18.3851,42.4509,73.40,42,20,6.91,SA,1611843186
575,Murshidābād,24.1833,88.2667,62.56,31,0,4.79,IN,1611843187

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = filtered_final
hotel_df

,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,Kruisfontein,-34.0033,24.7314,78.01,47,0,8.01,ZA,1611843081
31,Baghdad,33.3406,44.4009,68.00,34,0,6.91,IQ,1611843081
114,Gīdolē,5.6500,37.3667,78.35,20,64,1.01,ET,1611843102
129,Susa,32.1942,48.2436,68.67,28,83,9.55,IR,1611843105
171,Sakakah,29.9697,40.2064,68.00,24,0,8.05,SA,1611843112
186,Yarim,14.2980,44.3779,62.44,29,0,4.16,YE,1611843115
197,Karad,17.2833,74.2000,76.28,39,0,5.44,IN,1611843117
218,Nālūt,30.3333,10.8500,65.35,30,0,8.99,LY,1611843121
248,Chui,-33.6971,-53.4616,78.93,46,40,4.07,UY,1611843127
322,Abhā,18.2164,42.5053,73.40,42,20,6.91,SA,1611843141
340,Sayyan,15.1718,44.3244,66.69,23,2,4.12,YE,1611843144
411,Bahía Blanca,-38.7196,-62.2724,76.06,23,8,8.39,AR,1611843157
429,Khargone,21.8167,75.6000,72.59,31,0,5.10,IN,1611843160
568,Faya,18.3851,42.4509,73.40,42,20,6.91,SA,1611843186
575,Murshidābād,24.1833,88.2667,62.56,31,0,4.79,IN,1611843187

In [7]:
from pprint import pprint
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {
    #"location": '-34.0033,24.7314',#hotel_df['Lat']+','+hotel_df['Lon'],
    "radius": "5000",
    "type": "lodging",
    "key": g_key,
}
locationz = []
# response = requests.get(base_url, params=params)
# hotel_data = response.json()
# hotel_data['results'][0]['name']
# pprint(hotel_data)#['results'][4]
hotels_list = []
for index, row in hotel_df.iterrows():
    search_lat=row['Lat']
    search_lon=row['Lon']
    search_lat_lon=f'{search_lat},{search_lon}'
    params['location']=search_lat_lon
    search_city = row[0]
    print(f'searching {search_city} at {search_lat_lon}')
    try:    
        response = requests.get(base_url, params=params)
        hotel_data = response.json()
        hotels_list.append(hotel_data['results'][0]['name'])
        locationz.append(f'({search_lat},{search_lon})')
        #row['Hotel Name']=hotel_data['results'][0]['name']
    except:
        hotels_list.append('NaN')
        print(f'no hotel found near {search_city}')

searching Kruisfontein at -34.0033,24.7314
searching Baghdad at 33.3406,44.4009
searching Gīdolē at 5.65,37.3667
searching Susa at 32.1942,48.2436
searching Sakakah at 29.9697,40.2064
searching Yarim at 14.298,44.3779
searching Karad at 17.2833,74.2
searching Nālūt at 30.3333,10.85
no hotel found near Nālūt
searching Chui at -33.6971,-53.4616
searching Abhā at 18.2164,42.5053
searching Sayyan at 15.1718,44.3244
searching Bahía Blanca at -38.7196,-62.2724
searching Khargone at 21.8167,75.6
searching Faya at 18.3851,42.4509
searching Murshidābād at 24.1833,88.2667

In [8]:
hotel_df['Hotel Name']=hotels_list
hotel_df

<ipython-input-8-7d7ce79a2a71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name']=hotels_list

,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
3,Kruisfontein,-34.0033,24.7314,78.01,47,0,8.01,ZA,1611843081,Oyster Bay House Rental
31,Baghdad,33.3406,44.4009,68.00,34,0,6.91,IQ,1611843081,Baghdad Hotel
114,Gīdolē,5.6500,37.3667,78.35,20,64,1.01,ET,1611843102,Shallom mekaneyesus church
129,Susa,32.1942,48.2436,68.67,28,83,9.55,IR,1611843105,Mosque Zaman (AS) Cultural promised -Kanvn
171,Sakakah,29.9697,40.2064,68.00,24,0,8.05,SA,1611843112,Fakhamat Al Orjoana Apartment
186,Yarim,14.2980,44.3779,62.44,29,0,4.16,YE,1611843115,المهندس يوسف علي احمد
197,Karad,17.2833,74.2000,76.28,39,0,5.44,IN,1611843117,Hotel Sugam Lodging
218,Nālūt,30.3333,10.8500,65.35,30,0,8.99,LY,1611843121,NaN
248,Chui,-33.6971,-53.4616,78.93,46,40,4.07,UY,1611843127,Nuevo Hotel Plaza
322,Abhā,18.2164,42.5053,73.40,42,20,6.91,SA,1611843141,Abha Hotel
340,Sayyan,15.1718,44.3244,66.69,23,2,4.12,YE,1611843144,متنزه و بحيرة سيان
411,Bahía Blanca,-38.7196,-62.2724,76.06,23,8,8.39,AR,1611843157,Hotel Argos
429,Khargone,21.8167,75.6000,72.59,31,0,5.10,IN,1611843160,Vallabha Hotel
568,Faya,18.3851,42.4509,73.40,42,20,6.91,SA,1611843186,مقبرة ال مجمل
575,Murshidābād,24.1833,88.2667,62.56,31,0,4.79,IN,1611843187,Hotel Raymond

In [9]:
hot_lat_lon = {'Lat':hotel_df['Lat'],
              'Lon':hotel_df['Lon']}
hot_locs = pd.DataFrame(hot_lat_lon)
hot_locs_array = hot_locs.to_numpy()

In [80]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: "['Lng'] not in index"

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hot_locs_array)
humid_map.add_layer(markers)
humid_map

# Display figure

Figure(layout=FigureLayout(height='420px'))